.flex {
  display: flex;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.max_width {
  width: 100%;
}
.max_height {
  height: 100%;
}

.justify_center {
  justify-content: center;
}
.align_center {
  align-items: center;
}

a {
  text-decoration: none;
  color: blue;
}
a:visited {
  color: blue;
}

* {
  padding: 0;
  margin: 0;
  white-space: pre-line;
}

:root {
  --max-width: 1200px;

  --white: white;

  --light-gray: #fcfcfc;
  --normal-gray: #ebebeb;
  --dark-gray: #242424;

  --invert-hover: 0.8;

  --vh: 100%;
}

@media screen and (max-width: 768px) {
  body {
    overflow-y: hidden;
  }

  .home {
    height: 100vh !important;
    height: var(--vh);
    overflow-y: auto;
  }
  .home::-webkit-scrollbar {
    display: none;
  }
}